* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: 0.3s;
}

.calculator {
    width: 350px;
    background: #1e1e1e;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: white;
}

#themeToggle {
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.display input {
    width: 100%;
    height: 70px;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 10px;
    font-size: 2rem;
    text-align: right;
    margin-bottom: 20px;
}

.mode-switch {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.mode-switch button {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.active {
    background: #4f46e5;
    color: white;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.scientific-mode {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.buttons button {
    height: 60px;
    border: none;
    border-radius: 15px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.2s;
}

.buttons button:hover {
    transform: scale(1.05);
}

.equal {
    grid-column: span 2;
    background: #4f46e5;
    color: white;
}

.hidden {
    display: none;
}

/* Light Mode */

.light-mode {
    background: #f5f5f5;
}

.light-mode .calculator {
    width: 350px;
    background: #1e1e1e;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.calculator.scientific-layout {
    width: 700px;
}

.light-mode .top-bar {
    color: black;
}

/* Responsive */

@media(max-width:400px) {

    .calculator {
        width: 95%;
        padding: 15px;
    }

    .buttons button {
        height: 55px;
    }

}